/* line 2, ../sass/partials/_modules.scss */
.basket-s1 {
  background-image: url("../img/basket.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 12, ../sass/partials/_modules.scss */
.bg-orange {
  background-color: #fe8100;
}

/* line 18, ../sass/partials/_modules.scss */
.border-orange {
  border-color: #fe8100 !important;
}

/* line 24, ../sass/partials/_modules.scss */
.coming-soon-s1 {
  background-image: url("../img/bg/coming_soon_sm_h.jpg");
  background-size: cover;
}

/* line 30, ../sass/partials/_modules.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 33, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 36, ../sass/partials/_modules.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 39, ../sass/partials/_modules.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 45, ../sass/partials/_modules.scss */
.text-orange {
  color: #fe8100 !important;
}
/* line 48, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #000;
}

/*landscape*/
@media all and (orientation: landscape) {
  /* line 57, ../sass/partials/_modules.scss */
  .text-landscape-end {
    text-align: right !important;
  }
}
@media all and (orientation: landscape) and (max-width: 667px) {
  /* line 66, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_sm_h.jpg");
    background-size: cover;
  }

  /* line 71, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_sm_h.jpg");
    background-size: cover;
    background-position: right bottom;
  }
  /* line 75, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_sm_h.jpg");
    background-size: cover;
    background-position: left top;
  }

  /* line 81, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 87, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 93, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 99, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 105, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 113, ../sass/partials/_modules.scss */
  .index-s1 {
    background-image: url("../img/bg_index/index_sm_h.jpg");
    background-size: cover;
  }
}
@media all and (orientation: landscape) and (min-width: 668px) {
  /* line 121, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_lg_h.jpg");
    background-size: cover;
  }

  /* line 126, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_lg_h.jpg");
    background-size: cover;
    background-position: right bottom;
  }
  /* line 130, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_lg_h.jpg");
    background-size: cover;
    background-position: left top;
  }

  /* line 136, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 142, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 148, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 154, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 160, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 168, ../sass/partials/_modules.scss */
  .index-s1 {
    background-image: url("../img/bg_index/index_lg_h.jpg");
    background-size: cover;
    background-position: left bottom;
  }
}
@media all and (orientation: landscape) and (min-width: 1367px) {
  /* line 177, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_xl_h.jpg");
    background-size: cover;
  }

  /* line 182, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_xl_h.jpg");
    background-size: cover;
    background-position: right bottom;
  }
  /* line 186, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_xl_h.jpg");
    background-size: cover;
    background-position: left top;
  }

  /* line 192, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 198, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 204, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 210, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 216, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*portait*/
@media all and (orientation: portrait) {
  /* line 229, ../sass/partials/_modules.scss */
  .text-portrait-center {
    text-align: center !important;
  }
}
@media all and (orientation: portrait) and (max-height: 667px) {
  /* line 238, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_sm_v.jpg");
    background-size: cover;
  }

  /* line 243, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_sm_v.jpg");
    background-size: cover;
    background-position: left top;
  }
  /* line 247, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_sm_v.jpg");
    background-size: cover;
    background-position: right top;
  }

  /* line 253, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 259, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 265, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 271, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 277, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 285, ../sass/partials/_modules.scss */
  .index-s1 {
    background-image: url("../img/bg_index/index_sm_v.jpg");
    background-size: cover;
  }
}
@media all and (orientation: portrait) and (min-height: 668px) {
  /* line 293, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_lg_v.jpg");
    background-size: cover;
  }

  /* line 298, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_lg_v.jpg");
    background-size: cover;
    background-position: right center;
  }
  /* line 302, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_lg_v.jpg");
    background-size: cover;
    background-position: left center;
  }

  /* line 308, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 314, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 320, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 326, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 332, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* line 340, ../sass/partials/_modules.scss */
  .index-s1 {
    background-image: url("../img/bg_index/index_lg_v.jpg");
    background-size: cover;
  }
}
@media all and (orientation: portrait) and (min-height: 1367px) {
  /* line 348, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_xl_v.jpg");
    background-size: cover;
  }

  /* line 353, ../sass/partials/_modules.scss */
  .about-s1 {
    background-image: url("../img/bg_about/about_s1_xl_v.jpg");
    background-size: cover;
    background-position: left bottom;
  }
  /* line 357, ../sass/partials/_modules.scss */
  .about-s2 {
    background-image: url("../img/bg_about/about_s2_xl_v.jpg");
    background-size: cover;
    background-position: left top;
  }

  /* line 363, ../sass/partials/_modules.scss */
  .food-1 {
    background-image: url("../img/food/food_1_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 369, ../sass/partials/_modules.scss */
  .food-2 {
    background-image: url("../img/food/food_2_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 375, ../sass/partials/_modules.scss */
  .food-3 {
    background-image: url("../img/food/food_3_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 381, ../sass/partials/_modules.scss */
  .food-4 {
    background-image: url("../img/food/food_4_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* line 387, ../sass/partials/_modules.scss */
  .food-5 {
    background-image: url("../img/food/food_5_xl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*ipad pro correction*/
@media all and (orientation: portrait) and (min-height: 1366px) and (min-width: 1024px) {
  /* line 398, ../sass/partials/_modules.scss */
  .ipad-pro-corr {
    align-self: start !important;
  }
  /* line 399, ../sass/partials/_modules.scss */
  .ipad-pro-corr .offset-lg-7 {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 15% !important;
  }

  /* line 406, ../sass/partials/_modules.scss */
  .contact-box {
    padding-top: 60%;
    padding-left: 35%;
  }
}
